<form name="form">
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="col-md-2 control-label">Login</label>
            <input type="text" class="form-control" ng-model="usuario.Login" required placeholder="Digite o login">
        </div>
        <div class="col-md-6 form-group">
            <label class="col-md-2 control-label">Senha</label>
            <input type="password" class="form-control" ng-model="usuario.Senha" required placeholder="Digite a senha">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="col-md-2 control-label">Nome</label>
            <input type="text" class="form-control" ng-model="usuario.Nome" required placeholder="Digite o nome">
        </div>
        <div class="col-md-6 form-group">
            <label class="col-md-2 control-label">Email</label>
            <input type="email" class="form-control" ng-model="usuario.Email" placeholder="Digite o email">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 form-group">
            <label class="col-md-2 control-label">Ativo</label>
            <input type="checkbox" ng-model="usuario.Ativo">
        </div>
    </div>
</form>
    
